CourtCounter/.project
.vscode/settings.json
CourtCounter/key.properties
CourtCounter/local.properties
**.lock
**.bin
**.properties
counter_flutter/.settings/org.eclipse.buildship.core.prefs
**.project
.idea
.DS_Store