.vscode
**.lock
**.bin
**.properties
counter_flutter/.settings/org.eclipse.buildship.core.prefs
**.project
.idea
.DS_Store

# Ignoring the CourtCounter binaries
CourtCounter/.idea
CourtCounter/.gradle
CourtCounter/.settings
CourtCounter/.project

# Ignoring the CourtCounter secrets
CourtCounter/key.properties
CourtCounter/local.properties

counter_flutter/.android
counter_flutter/.metadata